python/.idea
data/plots/*
data/raw/*
data/latex/main.tex
data/latex/dat
build/
cmake-build-release/
cmake-build-debug/
.idea/
data/.DS_Store
src/.DS_Store
.DS_Store
python/constants.py
src/common/Constants.h